{% extends 'layout.html.twig' %}

{% block body %}
<div class="main wrapper clearfix">

    <article>
        <header>
            <h1>Hello method</h1>
            <p>Click on <a href="{{ path('Demo_hello', {name: 'Liviu'}) }}">this link</a> to render the <b>Controller::hello()</b> method.</p>
        </header>
        <section>
            <h2>article section h2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
        </section>
        <section>
            <h2>article section h2</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
        </section>
        <footer>
            <h3>article footer h3</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
        </footer>
    </article>

    {% include "Demo/sidebar.html.twig" %} 

</div>
{% endblock %}