<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Glue - Demo application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="/css/normalize.min.css">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>

        <div class="header-container">
            <header class="wrapper clearfix">
                <h1 class="title">Glue - demo application</h1>
                <nav>
                    <ul>
                        <li><a href="{{ path('Demo_index') }}">Home</a></li>
                        <li><a href="#">Link #1</a></li>
                        <li><a href="#">Link #2</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="main-container">
            
            {% block body %}
            {% endblock %}             

        </div> <!-- #main-container -->

        <div class="footer-container">
            <footer class="wrapper">
                <h3>footer</h3>
            </footer>
        </div>

        <script src="/js/main.js"></script>
    </body>
</html>
